
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-image: linear-gradient( 109.6deg,  rgb(4, 49, 30) 11.2%, rgb(4, 41, 84) 91.1% );
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .container {
    max-width: 900px;
    margin: 50px auto;
    padding: 30px;
background-image: linear-gradient( 109.6deg,  rgb(141, 197, 173) 11.2%, rgb(135, 156, 181) 91.1% );    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
    font-size: 2.5em;
    color: #333;
  }
  
  h2 {
    color: #000000;
    margin-top: 20px;
    font-size: 1.6em;
  }
  
  label {
    font-weight: bold;
    margin-top: 10px;
    display: block;
  }
  
  input, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
  }
  
  button {
    width: 100%;
    padding: 12px;
    background-color: #2bff00;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }
  
  button:hover {
    transition-duration: 1s;
    background-color: #0056b3;
  }
  
  .resume {
    margin-top: 30px;
    text-align: center;
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #ddd;
  }
  
  .resume img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
  }
  
  .hidden {
    display: none;
  }

  @media (max-width: 768px) {
    .container {
      padding: 20px;
      margin: 20px;
    }
  
    button {
      font-size: 14px;
    }
  }
  
  